---
layout: framework
title: contact
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contact Form</title>
  <link rel="stylesheet" href="/assets/css/style_contact.css" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
</head>

<body>
  <div>
    <div class="form">
      <div class="contact-info">
        <h1 class="title">Let's get in touch!</h1>
        <h3 class="contact-info-title">
          CONTACT INFO
        </h3>

        <div class="info">
          <div class="information">
            <i class="fa fa-envelope icon"></i>
            <a href="mailto: nuki.lsusanti@gmail.com">nuki.lsusanti@gmail.com</a><br />
          </div>
          <div class="information">
            <i class="fa fa-linkedin icon"></i>
            <a class="linkgit" href="https://www.linkedin.com/in/nukilsusanti/">Linkedin</a><br />
          </div>
          <div class="information">
            <i class="fa fa-github icon"></i>
            <a href="https://github.com/nuki-susanti">Github</a><br />
          </div>
        </div>

        <div class="social-media">
          <p></p>
          <div class="social-icons">
          </div>
        </div>
      </div>

      <div class="contact-form">
        <span></span>
        <span></span>

        <form action="https://formspree.io/f/xbjelrqk" method="POST">
          <h3 class="title">Send me a message!</h3>
          <div class="input-container">
            <input type="text" name="name" class="input" required/>
            <label for="">Username</label>
            <span>Username</span>
          </div>
          <div class="input-container">
            <input type="email" name="email" class="input" required/>
            <label for="">Email</label>
            <span>Email</span>
          </div>
          <div class="input-container textarea">
            <textarea name="message" class="input" required></textarea>
            <label for="">Message</label>
            <span>Message</span>
          </div>
          <button class="btn" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>

  <script src="/assets/js/contact_js.js"></script>
</body>

</html>
