---
layout: default_resume
title: resume
---

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/css/style_resume.css" />
</head>

<body>

	<div class="resume_wrapper">
		<div class="resume_left">
			<div class="resume_image">
				<img src="/assets/images/banners/profile_pict.jpg" alt="profpict" class="profpict">
			</div>
			<div class="resume_bottom">
				<div class="resume_item resume_namerole">
					<div class="name">Nuki Susanti</div>
					<div class="role">Data Analyst</div>
				</div>
				<div class="resume_item resume_profile">
					<div class="resume_title">Profile</div>
					<div class="resume_info">Data analyst with an interdisciplinary background in safety and
						environmental engineering. Experience in helping clients translate conceptual problems into more
						practical solutions. Fast learner and a clear communicator capable of working with a variety of
						team members.</div>
				</div>
				<div class="resume_item resume_address">
					<div class="resume_title">Contact</div>
					<div class="resume_info">
						<i class="fa fa-envelope icon"></i><a
							href="mailto: nuki.lsusanti@gmail.com" target="_blank" rel="noopener noreferrer">nuki.lsusanti@gmail.com</a><br />
						<i class="fa fa-linkedin"></i><a
							href="https://www.linkedin.com/in/nukilsusanti/" target="_blank" rel="noopener noreferrer">linkedin.com/in/nukilsusanti</a><br />
						<i class="fa fa-map-marker"></i>Frankfurt, Germany<br />
						<i class="fa fa-info"></i>Open to relocating within Germany or world-wide remote working<br />
					</div>
				</div>
				<div class="resume_item resume_skills">
					<div class="resume_title">TECHNICAL SKILLS</div>
					<div class="resume_info">
						<div class="skills_list">
							<div class="skills_left">Data sourcing and processing</div>
							<div class="skills_bar">
							</div>
						</div>
						<div class="skills_list">
							<div class="skills_left">Data analysis, exploration and visualization</div>
							<div class="skills_bar">
							</div>
						</div>
						<div class="skills_list">
							<div class="skills_left">Machine learning</div>
							<div class="skills_bar">
							</div>
						</div>
						<div class="skills_list">
							<div class="skills_left">Python</div>
							<div class="skills_bar">
							</div>
						</div>
						<div class="skills_list">
							<div class="skills_left">SQL</div>
							<div class="skills_bar">
							</div>
						</div>
						<div class="skills_list">
							<div class="skills_left">Excel</div>
							<div class="skills_bar">
							</div>
						</div>
						<div class="skills_list">
							<div class="skills_left">Tableau</div>
							<div class="skills_bar">
							</div>
						</div>
					</div>
				</div>
				<div class="resume_item resume_contact">
					<div class="resume_title">LANGUAGE</div>
					<div class="resume_info">
						<div class="resume_subtitle">English</div>
						<p class="resume_subinfo">Fluent</p>
					</div>
					<div class="resume_info">
						<div class="resume_subtitle">German</div>
						<p class="resume_subinfo">Professional Working Proficiency</p>
					</div>
					<div class="resume_info">
						<div class="resume_subtitle">Indonesian</div>
						<p class="resume_subinfo">Native</p>
					</div>
				</div>
			</div>
		</div>
		<div class="resume_right">
			<div class="resume_item resume_namerole">
				<div class="name">Nuki Susanti</div>
				<div class="role">Data Analyst</div>
			</div>
			<div class="resume_item resume_education">
				<div class="resume_title">Projects</div>
				<div>
					<h4>Road Crash Analysis (<a href="https://github.com/nuki-susanti/Road-Crash-Analysis" target="_blank" rel="noopener noreferrer">Github</a>
						&amp; <a href="https://public.tableau.com/app/profile/nuki.susanti/viz/RoadCrashAnalysisVer_2/Home?publish=yes" target="_blank" rel="noopener noreferrer">Tableau</a>)</h4>
					<p>A python-based project to help analyse the influential factors causing traffic accidents, locate
						accident hot-spots and perform classification supervised machine learning to predict accident
						severity. Analysis results are presented using Tableau. <a href="https://nuki-susanti.github.io/data%20analysis/data%20science/machine%20learning/2023/01/10/road-crash-analysis.html" target="_blank" rel="noopener noreferrer">Read more</a>.</p>
				</div>
				<div>
					<h4>Online Grocery Store (Instacart) Analysis (<a
							href="https://github.com/nuki-susanti/Instacart-Analysis" target="_blank" rel="noopener noreferrer">Github</a>)</h4>
					<p>A python-based project to perform an initial data and exploratory analysis in order to derive
						insights and suggest strategies for better segmentation based on the provided criteria. <a href="https://nuki-susanti.github.io/data%20analysis/exploratory%20data%20analysis/2022/12/18/instacart-online-grocery-analysis.html" target="_blank" rel="noopener noreferrer">Read more</a>.</p>
				</div>
				<div>
					<h4>Rockbuster Movie Rental Analysis (<a
							href="https://github.com/nuki-susanti/Rockbuster-Analysis" target="_blank" rel="noopener noreferrer">Github</a> &amp; <a
							href="https://public.tableau.com/app/profile/nuki.susanti/viz/RockbusterStealthDataAnalysis_16618096649900/RockbusterAnalysis?publish=yes" target="_blank" rel="noopener noreferrer">
							Tableau</a>)</h4>
					<p>SQL-based project using PostgreSQL database to analyse and essentially to answer business
						questions of a movie rental company. Analysis results are presented using Tableau. <a href="https://nuki-susanti.github.io/database/sql/exploratory%20data%20analysis/2022/12/19/rockbuster-movie-rental-analysis.html" target="_blank" rel="noopener noreferrer">Read more</a>.</p>
				</div>
			</div>
			<div class="resume_item resume_education">
				<div class="resume_title">PROFESSIONAL EXPERIENCE</div>
				<div class="resume_info">
					<div class="resume_data">
						<div class="year">2021 – Present</div>
						<div class="content">
							<h4>EHS (Environmental Health Safety) Consultant - ERM</h4>
							<p>• Performed on-site assessment and desktop study of safety and environmental compliance
								at logistics center, data center and constructions site under German regulations.</p>
							<p>• Performed operational audit of retail stores across central Europe (Germany, Czech
								Republic and Austria).</p>
							<p>• Achieved Global Recognition Award 2022 for ‘Client Focus Delivery’.</p>
						</div>
					</div>
					<div class="resume_data">
						<div class="year">2018 – 2019</div>
						<div class="content">
							<h4>Research Assistant - Physikalisch-Technische Bundesanstalt (PTB)</h4>
							<p>• Performed an experimental investigation of particle deposition and particle
								electrification as potential ignition source in powder and grain industry.</p>
							<p>• Published the results as scientific publication. Available <a
									href="https://linkinghub.elsevier.com/retrieve/pii/S0921883120303411" target="_blank" rel="noopener noreferrer">here</a>.
							</p>
						</div>
					</div>
					<div class="resume_data">
						<div class="year">2013 – 2016</div>
						<div class="content">
							<h4>Drilling Field Engineer - Halliburton</h4>
							<p>• Performed measurement and logging while drilling, data quality control for onshore and
								offshore wells.</p>
							<p>• Handled radioactive source and lithium battery.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="resume_item resume_experience">
				<div class="resume_title">Education</div>
				<div class="resume_info">
					<div class="resume_data">
						<div class="year">2022 - 2023</div>
						<div class="content">
							<h4>Data Analytics Program</h4>
							<p>Careerfoundry, Online Learning and Mentoring</p>
						</div>
					</div>
					<div class="resume_data">
						<div class="year">2017 - 2020</div>
						<div class="content">
							<h4>MSc, Process Safety and Environmental Engineering</h4>
							<p>Magdeburg University – Germany</p>
						</div>
					</div>
					<div class="resume_data">
						<div class="year">2007 - 2011</div>
						<div class="content">
							<h4>B.Eng, Chemical Engineering</h4>
							<p>Diponegoro University – Indonesia</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<div class="credit">Credit resume template by<a href="https://github.com/codingmarket07/Responsive-Resume-UI-Design" target="_blank" rel="noopener noreferrer">
		codingmarket07</a></div>

</html>
